<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyMaterial</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <button mat-button color="primary" (click)="getUserInfo()">Get User Info</button>
</div>
<div>
  GET Status: <input type="text" [(ngModel)]="userMessage" [attr.disabled]="true"/>
</div>

<br/>
<br/>
<br/>

<div>
  <button mat-button color="primary" (click)="setUserInfo()">Post User Info</button>

  <input type="text" [(ngModel)]="newUserMessage"/>
</div>

<div>
  Post Status: <input type="text" [(ngModel)]="setUserStatus" [attr.disabled]="true"/>
</div>
<router-outlet></router-outlet>
